@model ExeLucasSthephanyIII.Models.Moto
@{
    ViewBag.Title = "ConsultaVeiculo";
}

<h2>Veículos</h2>

<img src="~/Images/moto.jpg" width="300px" height="auto" />

<h2>@Model.Fabricante / @Model.Categoria / @Model.Cilindrada CC / @Model.Transmissao </h2>

<img src="~/Images/delorian.jpg" width="300px" height="auto" />

<h2>@ViewBag.Fabricante / @ViewBag.Nome / @ViewBag.Tipo / @ViewBag.Transmissao </h2>
